Source: lliurex-gcompris-qt
Section: education
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: llxsrchelper,debhelper (>=9), cmake, qtbase5-dev, qtdeclarative5-dev, qml-box2d, qtmultimedia5-dev, libqt5svg5-dev, libqt5xmlpatterns5-dev, qttools5-dev-tools, libqt5sensors5-dev
Standards-Version: 3.9.6
Homepage: http://gcompris.net

Package: lliurex-gcompris-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qml-box2d, libqt5multimedia5, qml-module-qtmultimedia, qml-module-qtgraphicaleffects, qml-module-qtquick-particles2
Description: Educational games for small children
 GCompris is a high quality educational software suite comprising of numerous activities for children aged 2 to 10.
